{% extends "layout.html" %}

{% block content %}

<div class="page-header">
  <h1>API for <a href="https://github.com/Widukind">Widukind</a></h1>

  <h2>HTML Api - <a class="small" href="{{ url_for("docs-html") }}">{{ url_for("docs-html", _external=True) }}</a></h2>
  <h4>Tested with Excel and Eviews </h4>

  <h2>JSON Api - <a class="small" href="{{ url_for("docs-json") }}">{{ url_for("docs-json", _external=True) }}</a></h2>
  <h4>Used by <a href="https://github.com/Widukind/widukind.m">Matlab plugin</a></h4>

  <h2>SDMX Api - <a class="small" href="{{ url_for("docs-sdmx") }}">{{ url_for("docs-sdmx", _external=True) }}</a></h2>
  <h4>
  Used by <a href="https://github.com/Widukind/widukind.R.sdmx">R</a>
  and
  <a href="https://github.com/Widukind/widukind.py.pandaSDMX">Python (pandaSDMX)</a>
  plugins
  </h4>

</div>

{% endblock %}