{% extends "layout.html" %}

{% block content %}

<h3>Liens HTML</h3>
<ul>
	<li><a target="_blank" href="{{ url_for("html.providers") }}">Providers</a></li>
{#
	<li><a target="_blank" href="{{ url_for("html.datasets") }}">Datasets</a></li>
#}
</ul>

<h3>JSON:</h3>

{#/api/v1/category/&lt;slug&gt; (<a target="_blank" href="{{ url_for("json.category", slug="bis") }}">Categories BIS</a>)#}

<ul>
<li>
<a target="_blank" href="{{ url_for("json.providers") }}">All Providers</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.categories", provider="bis") }}">Categories BIS</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.datasets", provider="bis") }}">Datasets BIS</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.provider", slug="bis") }}">Provider BIS</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.dataset", slug="bis-pp-ls") }}">Dataset BIS PP-LS</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.series-list", dataset="bis-pp-ls") }}">Dataset BIS PP-LS - All Series </a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.series", slug="bis-pp-ls-q-au") }}">Dataset BIS PP-LS - Series Q:AU - (Quarterly - Australia)</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.series-values", slug="bis-pp-ls-q-au") }}">Series Values BIS PP-LS - Q:AU - (Quarterly - Australia)</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.dataset-values", slug="bis-pp-ls") }}">Dataset All Values BIS PP-LS</a>
</li>
<li>
<a target="_blank" href="{{ url_for("json.dataset-values", slug="bis-pp-ls") }}?Reference area=FR">Dataset Values BIS PP-LS - Dimension {{ "Reference area=FR"|safe }}</a>
</li>
</ul>

<h3>Tools:</h3>

<ul>
	<li><a target="_blank" href="{{ url_for("json.dataset-dimensions-key", slug="bis-pp-ls") }}">Dataset BIS PP-LS - Dimensions Key</a></li>
</ul>

<h3>Plugin Eviews:</h3>

<ul>
	<li><a target="_blank" href="{{ url_for("eviews.values-by-slug", slug="insee-ipch-2005-fr-coicop") }}?frequency=M&limit=100">Dataset INSEE IPCH-2005-FR-COICOP</a></li>
	<li><a target="_blank" href="{{ url_for("eviews.values-by-slug", slug="bis-pp-ls") }}">Dataset BIS PP-LS</a></li>
</ul>

<h3>SDMX 2.1 XML</h3>

<ul>
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-dataflow") }}">
			Dataflow - All Providers
		</a> 
	</li>		
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-dataflow-agency", agencyID="INSEE") }}">
			Dataflow - INSEE
		</a> 
	</li>	
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-dataflow-dataset", agencyID="INSEE", resourceID="IPC-2015-COICOP") }}">
			Dataflow - INSEE - IPC-2015-COICOP
		</a> 
	</li>	
	
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-datastructure", agencyID="INSEE", resourceID="IPC-2015-COICOP") }}">
			DataStructure - INSEE - IPC-2015-COICOP
		</a> 
	</li>
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-datastructure", agencyID="INSEE", resourceID="IPC-2015-COICOP") }}?references=all">
			DataStructure Complète - INSEE - IPC-2015-COICOP
		</a> 
	</li>
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-data-specific", providerRef="INSEE", flowRef="IPC-2015-COICOP", key="A.011141.FE.INDICE") }}?startPeriod=2011&endPeriod=2014">
			Data - INSEE - IPC-2015-COICOP - Series 001764374
		</a> 
		(<a target="_blank" href="{{config.WIDUKIND_WEB_URL}}/views/slug/series/insee-ipc-2015-coicop-001764374">Web</a>)
	</li>
	
	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-conceptscheme", agencyID="INSEE", resourceID="IPC-2015-COICOP") }}">
			ConceptScheme - INSEE - IPC-2015-COICOP
		</a> 
	</li>

	<li>
		<a target="_blank" href="{{ url_for("sdmx.2-1-codelist", agencyID="INSEE", resourceID="IPC-2015-COICOP") }}">
			CodeList - INSEE - IPC-2015-COICOP
		</a> 
	</li>
	
</ul>

<h3>Plugin R:</h3>

<ul>
	<li><a target="_blank" href="{{ url_for("r.series", slug="eurostat-namq-10-a10-e-q-ths-hw-total-swda-emp-dc-ea19") }}">Dataset Eurostat - namq_10_a10_e - Series Q.THS_HW.TOTAL.SWDA.EMP_DC.EA19</a></li>
</ul>


{% endblock %}