<html>
<head>
	<title>
		{% block title %}Widukind API{% endblock %}
	</title>
	{% block css %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	{% endblock %}
</head>
<body>

<div class="container">
{% block content %}{% endblock %}
</div>

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"type="text/javascript"></script>

{% block add_scripts %}
{% endblock %}

{% endblock %}
</body>
</html>